AIRFLOW_UID=1000
#AIRFLOW_IMAGE_NAME=apache/airflow:3.1.0
#_PIP_ADDITIONAL_REQUIREMENTS=airflow-provider-rabbitmq apache-airflow-providers-postgres apache-airflow-providers-mongo pyvalhalla geopandas
#AIRFLOW_GID=0
CBR_BANKS_BASE_URL= "https://www.cbr.ru/vfs/mcirabis/BIKNew/"
CBR_CURRENCY_URL= "https://www.cbr.ru/scripts/XML_daily.asp"
DB_HOST= "postgres"
DB_NAME= "airflow"
DB_PASSWORD= "airflow"
DB_PORT= 5432
DB_USER= "airflow"
