AIRFLOW_UID=50000
AIRFLOW_GID=0
CBR_BANKS_BASE_URL= "https://www.cbr.ru/vfs/mcirabis/BIKNew/"
CBR_CURRENCY_URL= "https://www.cbr.ru/scripts/XML_daily.asp"
DB_HOST= "postgres"
DB_NAME= "airflow"
DB_PASSWORD= "airflow"
DB_PORT= 5432
DB_USER= "airflow"
